<!DOCTYPE html>
<html>
	{{ partial "head.html" . }}
	<body>
		{{ partial "nav.html" . }}
		<div class="container">
			<main class="list">
				<header>
					{{ if not .IsHome }}
					<h1><a>{{ .Site.Title }}</a></h1>
					<h2>{{ if .Data.Singular }}{{ .Data.Singular|title }}: {{ end }}{{ .Title }}</h2>
					{{ else }}
					<h1><a>{{ .Title }}</a></h1>
					{{ end }}
				</header>

				<ul>
					{{ range where .Data.Pages "Section" "post" }}
					<li>

						<h3><a href="{{ .Permalink }}">{{ .Title }}</a> </h3> <span class="date">{{ .Date.Format "Jan 02, 2006" }}</span>
						<ul id="tags">
							{{ range .Params.tags }}
							<li><a href="tags/{{ . | urlize }}">{{ . }}</a> </li>
							{{ end }}
						</ul>
						<p>{{ .Description }} </p>
					</li>
					{{ end }}
				</ul>
			</main>
		</div>
	</body>
</html>

