<!DOCTYPE html>
<html>
	{{ partial "head.html" . }}
	<body>
		{{ partial "nav.html" . }}
		<div class="container">
			<main>
				<article>
					<header>
						<h1>{{ .Title }}</h1>
						<span class="date">{{ .Date.Format "Jan 02, 2006" }}</span>
					</header>
					<div class="content">
						{{ .Content }}
					</div>
					{{ partial "about.html" . }}
				</article>
			</main>
			{{ partial "footer.html" . }}
		</div>
	</body>
</html>
