<!DOCTYPE html>
<html>
{{ partial "head.html" . }}
<body>
{{ partial "nav.html" . }}
<div class="container">
    <main>
        <article>
            <header>
                <h1>{{ .Title }}</h1>
            </header>
            <div class="content">
                {{ .Content }}
            </div>
        </article>
    </main>
    {{ partial "footer.html" . }}
</div>
</body>
</html>
