.container {
    display: block;
    margin: 0 auto;
    max-width: 650px;
    clear: both;
    padding-left: 15px;
    padding-right: 15px;
}

article p > img {
    position: relative;
    left: -10%;
    width: 120%;
}

ul {
    padding-left: 0;
}
li > ul {
    margin: 0;
}
menu {
    padding: 0;
    margin: 0;
    float: right;
    margin-top: 10px;

}

menu li {
    display: inline;
    padding: 0 25px 0 0;
}

h1 a, h1 a:hover {
    display: block;
}

h1 {

}

.home h1 {
    margin-top: 20% ;
}

/* Article footer */
div.about {
    position: relative;
    left: -10%;
    width: 100%;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 40px;
    padding-bottom: 30px;
    margin-top: 40px;
    color: #444;
}

div.about img {
    float: left;
    width: 100px;
    border-radius: 50%;
    border: 1px solid #EEE;
    margin-right: 30px;
}

div.about h2 {
    display: inline;
}

div.about p {
    margin: 0px;
    margin-top: 5px;
}

/* Article */
article header h1 {
    display: inline;
}

/* Lists */
.list ul li h3 {
    margin-bottom: 0px;
}
.list ul li p {
    padding-bottom: 20px;
}
.list ul {
    list-style-type: none;
}
span.date {
    padding-left: 20px;
    white-space: nowrap;
}

.list ul li h3 {
    display: inline;
}

.list ul li ul#tags {
    display: inline;
}

/* Tags */
ul#tags li {
    display: inline-block;
    border: 1px solid #E6E6E6;
    background-color: #F2F2F2;
    margin-left: 5px;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    position: relative;
    top: -3px;
}

/* Media queries */
@media screen and (max-width: 780px) {
    .container {
        max-width: 100%;
        padding-left: 25px;
        padding-right: 25px;
    }

    article p > img {
        left: -25px;
        right: -25px;
        width: calc(100% + 50px);
        float: left;
        margin-bottom: 10px;
    }

    div.about {
        left: -25px;
        right: -25px;
        width: 100%;
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media screen and (max-width: 700px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    article p > img {
        left: -15px;
        right: -15px;
        width: calc(100% + 30px);
    }

    div.about {
        left: -15px;
        right: -15px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
