/**
 * Text formatting
 */

@import url(https://fonts.googleapis.com/css?family=Lato:300,700,300italic);

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    color: #333;
    font-size: 1.2em;
}

a {
    text-decoration: none;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
}
h1 { font-size: 2.5em; font-weight: 300;}
h2 { font-size: 1.8em; font-weight: 300; }
h3 { font-size: 1.5em; font-weight: 300; }
h4 { font-size: 1.4em; font-weight: 300; }
h5 { font-size: 1.3em; font-weight: 300; }
h6 { font-size: 1.2em; font-weight: 300; }
.home h1 { font-size: 4.5em; font-weight: 600;}
article footer h2 { font-size: 1.3em; }

menu li {
    font-size: 1.0em;
}

a {
    color: #3399FF;
}

a:hover {
    color: #0066CC;
}

h1 a, h1 a:hover {
    color: #3D3D3D;
}

span.date {
    font-size: 1.0em;
    color: #C7C7C7;
}

ul#tags li {
    font-size: 0.5em;
}

article p, .list ul li p {
    text-align: justify;
}

/* Media queries */
@media screen and (max-width: 700px) {

    body {
        font-size: 1.0em;
    }
    h1 { font-size: 2.4em; }
    h2 { font-size: 1.7em; }
    h3 { font-size: 1.4em; }
    h4 { font-size: 1.3em; }
    h5 { font-size: 1.2em; }
    h6 { font-size: 1.1em; }

    .about h2 { font-size: 1.5em; }

    .list ul li span.date {
        font-size: 0.9em;
    }

    ul#tags li {
        font-size: 0.5em;
    }
}