<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Jonas Wouters' blog">
	<meta name="keywords" content="books,programming,sci-fi,games,dnd,JavaScript,hugo,golang,freelancer,hardware,reviews">
	<meta name="author" content="Jonas Wouters">
	<title>{{ if not .IsHome }}{{ .Title }} &middot; {{ end }}{{ .Site.Title }} </title>
	<!-- Stylesheets -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ .Site.BaseURL }}/apple-touch-icon-144-precomposed.png">
	<link rel="shortcut icon" href="{{ .Site.BaseURL }}/favicon.ico">
	<!-- RSS -->
	<link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
</head>
